<!DOCTYPE html>
<html lang="pt-br" dir="ltr">
<head>
    <meta charset="UTF-8">
    <title>Cálculo da idade do animal</title>
</head>
<body>
    <h1>Descubra a idade humana do seu PET</h1>
    <br> <br>
<form action="/calculo_idade/" method="POST">
    <label for="especie">Qual a espécie do seu animalzinho (gato - G / cachorro - C)?</label> <br>
    <input type="text" id="especie" name="especie"> <br>
    <label for="idade">Qual a idade do seu animalzinho (somente números)?</label><br>
    <input type="text" id="idade" name="idade"> <br>
    <input type="submit" value="Salvar">
</form>
</body>
</html>